/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/* So media queries don't overlap when required, provide a maximum */
/* Media Query Mixins */
/* Specific Media Query Mixins */
/* Other Mixins */
/* 
#body {
  background: #3d5a68;
  min-height: 150vh;
  font-family: "Josefin Sans", sans-serif;
  text-transform: captalize;
  letter-spacing: 2px;
  transition: all 0.25s;
} */

.out-wrap {
  position: relative;
  padding: 30px;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 350px;
  margin: 50px auto;
  background: #ffababbf;
  transition: all 0.25s;
  font-family: "Josefin Sans", sans-serif;
}

#tabs {
  border-bottom: 0;
  margin: 0 -50px 20px;
  background: #303030;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-wrap: nowrap !important;
  font-family: "Josefin Sans", sans-serif;
}

#tabs::-webkit-scrollbar {
  display: none;
}
#tabs li {
  width: auto;
  white-space: nowrap;
  flex: 1;
}

#tabs li a {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.25s;
}

#tabs li a:hover {
  background: #ddd;
  color: #303030;
}

#tabs li.active a {
  background: #fff;
  color: #3d5a68;
}

.tab-content {
  overflow: hidden !important;
}

.close-icon {
  font-size: 0 !important;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 20px;
  top: 20px;
  font-size: 0px;
  cursor: pointer;
  z-index: 9;
  border: 0;
  background: transparent;
  transition: all 0.25s;
}

.close-icon:before,
.close-icon:after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 2px;
  background: #fff;
  width: 50%;
  transition: all 0.25s;
  opacity: 0;
}

.close-icon:before {
  transform: rotate(45deg);
  opacity: 1;
}

.close-icon:after {
  transform: rotate(-45deg);
  opacity: 1;
}

